{
  "extends": "airbnb",
  "rules": {
    "max-len": ["error", 140],
    "no-underscore-dangle": ["error", {
      "allow": ["_id"]
    }],
    "react/jsx-first-prop-new-line": ["error", "never"],
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "react/jsx-space-before-closing": ["error", "never"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/prefer-stateless-function": "off"
  }
}
